.banner
    max-height: 662px
    overflow: hidden
    margin-top: -110px
    position: relative
    z-index: 1
    text-align: center
    margin-bottom: 75px
    .banner-inner__image
        object-fit: cover
        width: 100%
    .banner__title
        color: #fff
        font-size: 52px
        left: 200px
        position: absolute
        right: 0
        bottom: 130px
        line-height: 54px
        text-align: left
        width: 50%
        margin: 0 auto
