.documents
    display: flex
    flex-direction: row
    justify-content: space-between
    flex-wrap: wrap
    margin-top: 100px
    .documents-item
        width: 30%
        margin-bottom: 35px
        border: 1px solid #f6d71a
        cursor: pointer
        .documents-item__image
            width: 100%


@media (min-width: 481px) and (max-width: 1363px)
    .documents
        .documents-item
            width: 45%


@media (min-width: 320px) and (max-width: 480px)
    .documents
        .documents-item
            width: 100%