.geography-page
    display: flex
    flex-direction: row
    justify-content: center
    max-width: 90%
    margin: 0 auto
    margin-top: 100px
    .geography-page-map
        padding-right: 50px
        .geography-page-map__img
            width: 100%
    .geography-page-list
        color: #454545
        font-size: 16px
        font-family: Circe, sans-serif
        font-weight: 400
        td
            border: none !important
            padding: 10px 15px !important


@media (min-width: 320px) and (max-width: 1363px)
    .geography-page
        flex-direction: column
        .geography-page-map
            padding: 0px
        .geography-page-list
            padding-top: 50px
            table
                tr
                    td
                        display: block